<html>
<head>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  script.
    function _(el) {
      return document.getElementById(el);
    }
    var file_id=0;
    function uploadFile(fileid=0) {
      file_id= fileid
      console.log(_("file1").files.length)
      //for (file of _("file1").files) {
      if(_("file1").files.length> file_id) 
      { 
        file=_("file1").files[file_id]
        //var file = _("file1").files[0];
        console.log(file);
        console.log(file.name,file.size,file.type);
        var mimetype_obj = {
        '.jpg': 'image/jpeg',
        '.png': 'image/png',
        '.gif': 'image/gif',
        };
        let flag=false
        for(x in mimetype_obj){
          if(file.type==mimetype_obj[x]) flag=true 
        }
        if(!flag && file.size > 2*1024*1024){
          _("status").innerHTML = "Upload Failed";
          return
        }
        let curr_date=_("curr_date").value;
        let classno=_("classno").value;
        let seat=_("seat").value;
        let bmonth=_("bmonth").value;
        let bday=_("bday").value;
        let capcha=_("capcha").value;
        if(capcha.length!=3) {_("status").innerHTML = "驗証碼有誤!";return}
        let SID=_("SID").value;
        seat=(seat.length==1?"0":"")+seat;
        bmonth=(bmonth.length==1?"0":"")+bmonth;
        bday=(bday.length==1?"0":"")+bday;
        let key=`${curr_date}${classno}${seat}${bmonth}${bday}`
        try{
        key=btoa(key);
        }catch{
        }
        key=key+`?SID=${SID}&capcha=${capcha}`
        var formdata = new FormData();
        formdata.append("curr_date", _("curr_date").value);
        formdata.append("classno", _("classno").value);
        formdata.append("seat", _("seat").value);
        formdata.append("bmonth", _("bmonth").value);
        formdata.append("bday", _("bday").value);
        formdata.append("file1", file);

        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", progressHandler, false);
        ajax.addEventListener("load", completeHandler, false);
        ajax.addEventListener("error", errorHandler, false);
        ajax.addEventListener("abort", abortHandler, false);
        ajax.open("POST", `up/${key}`); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
        //use file_upload_parser.php from above url
        ajax.send(formdata);
      }
    }
    function progressHandler(event) {
      _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
      var percent = (event.loaded / event.total) * 100;
      _("progressBar").value = Math.round(percent);
      _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
    }
    function completeHandler(event) {
      _("status").innerHTML = event.target.responseText;
      _('status_file_list').innerHTML += JSON.parse(event.target.responseText).files.file1.name+'<br>';
      _("progressBar").value = 0; //wil clear progress bar after successful upload
      file_id++
      //uploadFile(file_id)
    }
    function errorHandler(event) {
      _("status").innerHTML = "Upload Failed";
    }

    function abortHandler(event) {
      _("status").innerHTML = "Upload Aborted";
    }
</head>
<body>
  <h2>上載健康碼圖片</h2>
  <form id="upload_form" enctype="multipart/form-data" method="post">
    input(type="hidden", id="SID", value=SID)
    
    span 日期
    input(name="curr_date",id="curr_date" value=curr_date)
    br
    br
    span 班別
    <select name="classno" id="classno">
      <option value="SC1A">SC1A</option>
      <option value="SC1B">SC1B</option>
    </select>
    span 學號
    <input  id="seat" style="width:80px"  name="seat" type="number">
    br
    br
    span 出生
    <input style="width:60px" id="bmonth" name="bmonth" type="number">月<td><input style="width:60px" name="bday" id="bday"  type="number">日
    br
    br
    
    span 健康碼截圖
    <input type="file" name="file1" id="file1">
    br
    br
    span 驗証碼
    input#capcha(style="width:120px", type="number")
    img(src=capcha)
    <br>
    <br>
    <input type=button onclick="uploadFile()" value="提交">
    <br>
    <br>
    
    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>    
    <h3 id="status"></h3>
    <p id="loaded_n_total"></p>
  </form>
  <div id=status_file_list>
  </div> 
</body>
</html>